*, html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;

  padding: 20px;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  } 
}

.app__header {
  display: flex;

  margin-bottom: 1.5em;

  align-items: center;
  justify-content: space-between;
}

.app__stats {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.app__left {
  flex: 0.9;
}

.app_right {

}